.signup {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button.submit-btn {
    font-size: 1rem;
    padding: 10px 20px;
    border-color: #4db8ff;
    background-color: #4db8ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 24px auto;
    width: max-content;
}

button.submit-btn:hover {
    background-color: #3399ff;
}

p.error {
    color: red;
}