/* Visualization Cards */
.visualization-container {
    padding-bottom: 48px;
}

.visualization-container title {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

.visualization-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.visualization-card {
    width: 200px;
    background: rgba(50, 50, 50, 0.8);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.visualization-card:hover {
    transform: scale(1.1);
}

.visualization-card.selected {
    border: 2px solid #4db8ff;
}

.visualization-img {
    width: 100%;
    border-radius: 8px;
    height: 150px;
}

.preview-btn {
    background-color: #4db8ff;
    border: none;
    color: white;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.preview-btn:hover {
    background-color: #3399ff;
}

.visualize-btn {
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
    background-color: #4db8ff;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.visualize-btn:hover {
    background-color: #3399ff;
}